@import '~antd/dist/antd.css';

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
	background: transparent;
}
.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}



.site-layout .site-layout-background {
  background: #fff;
}

.ant-menu{
  background: #3b4c9b;
  }